.scroll-menu {
  display: flex;
  justify-content: flex-start;
  border-top: none;
  max-width: max-content;
  height: calc(100vh - 84px);
  position: sticky;
  top: 84px;
  background-color: var(--color-font);
}

.scrolling-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 250px;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.menu-view {
  display: none;
  background-color: var(--color-font);
  color: gainsboro;
}
@media screen and (max-width: 1200px) {
  .scrolling-wrapper,
  .scroll-menu {
    flex-direction: row;
  }

  .scrolling-wrapper {
    width: auto;
  }
  .scroll-menu {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    height: fit-content;
    border-top: 1px solid gray;
  }
  .menu-view {
    display: flex;
  }
}
