
.navItem__item {
    color: var(--color-secondary);
    cursor: pointer;
    font-weight: 600;
    text-decoration: none !important;
}


.navItem__item:hover {
    
    color: var(--color-red-light);
    
}

@media  screen and (min-width: 768px) {
    .navItem__item{
        text-align: center;
        font-size: .8rem;
    }
}