.form-Categories{
    font-family: sans-serif;
    /* margin: 20px 0px; */
    background-color:rgb(245, 245, 245);
    /* height: 500px; */
    /* width: 750px; */
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
.input-cat{
    width: 100%;
    border: none;
    /* height: 40px; */
    /* padding-left: 10px; */
}
.input-cat:focus{
    outline: none;
}
.description-cat{
    width: 100%;
}
.button-category{
    border: none;
    height: 3rem;
    width: 10rem;
    background-color: rgb(130, 204, 173);
    color: white;
    font-weight: 600;
}
.button-category:focus{
    outline: none;
}
.button-category:hover{
    cursor: pointer;
}

/* @media (min-width: 425px) {
    .form-Categories{
        width: 380px;
    }
}
@media (min-width: 768px) {
    .form-Categories{
        width: 650px;
    }
}
@media (min-width: 1024px) {
    .form-Categories{
        width: 750px;
    }
} */