.welcomeText__title{
    color: black;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {

    .welcomeText__title {
        font-size: 1.4em;
    }

    .welcomeText__text {
        font-size: 1.0em;
    }

}
