form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

input, select {
    width: 400px;
    height: 25px;
    margin-top: 10px;
}

.newsForm__button {
    width: 60px;
}