.goToTopButton__btn {
    background: grey;
    border: none;
    bottom: 2rem;  
    color: white;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    right: 2rem;
    z-index: 1;
}

.goToTopButton__btn__show {
    opacity: 70%;
    transition: visibility 0s linear 0s, opacity 400ms;
    visibility: visible;
}

.goToTopButton__btn__hidden {
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 400ms;
    visibility: hidden;
}