.header__ul {
  color: var(--color-font) !important;
}
.header__ul:hover {
  background-color: var(--color-brand);
  color: gainsboro !important;
}

.navbar-active {
  background-color: var(--color-brand);
  opacity: 70%;
}
