
.footer__content{
    padding: 5rem;
    background-color: rgba(167, 163, 163, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
.footer__logo{
    width: 100px;
    border-radius: 50%;
    
}

.footer__linkweb{
    text-decoration : none ;
}
.footer__content-social{
    display: grid;
}
.footer__items{
    font-size: 1.4em;
    text-decoration: none ;
}