.footer__about {
    width: 100%;
}

.footer__about-desc {
    color: rgb(211, 211, 211);
}

.footer__about-title {
    color: rgb(211, 211, 211);
    font-weight: bold;
}

.footer__content{
    background-color: var(--color-primary);
}

.footer__img {
    height: 58px;
    width: 130px;
}

.footer__linkweb{
    text-decoration : none ;
}

.footer__social-icons {
    font-size: 2em;
    color: rgb(211, 211, 211);
}

.footer__social-icon-phone {
    color: rgb(211, 211, 211);
}

.footer__span-text {
    color: rgb(211, 211, 211);
}

@media only screen and (max-width: 600px) {

    .footer__social-icons, .footer__social-icon-phone, .footer__about-title, .footer__span-text {
        font-size: 0.8em;
    }
    
}

