.form-login{
    width: 400px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 20px 10px;
}
.divF-form{
    height: 100vh;
}
.error-message{
    color:rgb(219, 0, 0);
    margin-left: 10px;
    font-size: 14px
}