.news__btn-info {
    color: white;
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: smaller;
}

.news__btn-info:hover {
    color: white;
}

.news__date{
    font-size:x-small;
    font-weight: lighter;
}

.news__title {
    color: rgb(52, 58, 64);
    font-weight: bolder;
}

.news__img {
    transition: transform .2s; 
}

.news__img:hover {
    filter: brightness(70%);
    transform: scale(1.01);
    cursor: pointer;
}