.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #808080;
}

.slide-img {
  height: auto;
  padding: 15px;
  position: relative;
  width: 0.5%;
}

@media all and (max-width: 500px) {
  .slide-img {
    opacity: 30%;
  }
}

.slide-txt {
  color: #002924;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

/* used by animate lib */
:root {
  --animate-delay: 0.3s;
}
