.form-Activites{
    font-family: sans-serif;
    margin: 20px 0px;
    background-color:rgb(245, 245, 245);
    width: 750px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.input-act{
    width: 100%;
    border: none;
    height: 40px;
    padding-left: 10px;
}
.input-act:focus{
    outline: none;
}
.content-act{
    width: 100%;
}
.button-activity{
    border: none;
    height: 50px;
    width: 100px;
    background-color: rgb(130, 204, 173);
    color: white;
    font-weight: 600;
}
.button-activity:focus{
    outline: none;
}
.button-activity:hover{
    cursor: pointer;
}

@media (min-width: 425px) {
    .form-Activites{
        width: 380px;
    }
}
@media (min-width: 768px) {
    .form-Activites{
        width: 650px;
    }
}
@media (min-width: 1024px) {
    .form-Activites{
        width: 750px;
    }
}